<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter une annonce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #myForm="ngForm" (ngSubmit)="addAnnonce(myForm)">
    <img [src]="imgSrc" />
    <ion-card>
      <ion-card-header>
        <ion-card-title>Informations</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Titre</ion-label>
          <ion-input name="titre" id="titre" ngModel type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Image</ion-label>
          <ion-input
            name="image"
            id="image"
            [(ngModel)]="imgSrc"
            type="text"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea
            type="text"
            name="description"
            id="description"
            ngModel
          ></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Prix</ion-label>
          <ion-input name="prix" id="prix" ngModel type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Localisation</ion-label>
          <ion-input
            name="localisation"
            id="localisation"
            ngModel
            type="text"
          ></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Contact</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nom</ion-label>
          <ion-input
            name="nom"
            id="nom"
            [(ngModel)]="userName"
            type="text"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input
            name="email"
            id="email"
            [(ngModel)]="userEmail"
            type="tel"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Télèphone</ion-label>
          <ion-input
            type="tel"
            name="phone"
            id="phone"
            [(ngModel)]="userPhone"
          ></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button type="submit" color="success" size="full">Ajouter</ion-button>
    </ion-card>
  </form>
</ion-content>
