<ion-card (click)="navigateToAnnonce()">
  <ion-card-header>
    <ion-card-title>
      <ion-avatar></ion-avatar>{{ annonce.titre }}</ion-card-title
    >
    <ion-card-subtitle>
      {{ annonce.date_publication }}
      <p class="localisation">{{ annonce.localisation }}</p></ion-card-subtitle
    >
  </ion-card-header>

  <ion-card-content>
    <p>{{ annonce.description }}</p>
    <p class="money">
      <ion-icon name="pricetag"></ion-icon>{{ annonce.prix }} DT
    </p>
  </ion-card-content>
</ion-card>
