ion-icon[name="pricetag"] {
  color: var(--ion-color-success);

  margin-right: 7px;
}

.money {
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
}

.localisation {
  font-weight: bold;
}

ion-card {
  cursor: pointer;
}
