<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Annonces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    placeholder="Chercher des annonces"
    (ionInput)="onSearch($event)"
  ></ion-searchbar>
  <div *ngFor="let annonce of filteredAnnoncesList">
    <ion-card (click)="navigateToAnnonce(annonce.id)">
      <ion-card-header>
        <ion-card-title>
          <ion-avatar></ion-avatar>{{ annonce.titre }}</ion-card-title
        >
        <ion-card-subtitle>
          {{ annonce.date_publication }}
          <p class="localisation">
            {{ annonce.localisation }}
          </p></ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>
        <p>{{ annonce.description }}</p>
        <p class="money">
          <ion-icon name="pricetag"></ion-icon>{{ annonce.prix }} DT
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
