p {
  color: black;
  font-size: 14px;
  margin-bottom: 7px;
}

span {
  font-weight: bold;
  color: var(--ion-color-primary);
}

ion-spinner {
  width: 100px;
  height: 100px;
}

ion-buttons {
  ion-icon {
    margin-left: 20px;
    cursor: pointer;
  }
}
